/* base style */

* {
	margin: 0;
	padding: 0;
	font-family: arial;
}

html,body{
	background-color: #87CEFA;
	height: 100%;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

nav{
	display: flex;
	background-color: lime;
	padding: 5px 20px;
	height: 70px;
}

section{
	margin: auto;
}

.header-link{
	color: black;
	text-decoration: none;
	margin: 0px 40px;
	font-size: 25px;
}

.container{
	display: flex;
	flex: 1 0 auto;
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
}

.news-block{
	background-color: #e4e4e4;
	padding: 3px;
	margin: 3px 3px 3px 0px;
}

.poll-block{
	background-color: yellow;
	padding: 3px;
	margin: 33px 3px 3px 0px;   
}

.ad-block{
	width: auto;
	margin: 3px;
}

footer{
	display: flex;
	background-color: lime;
	padding: 5px 20px;
	height: 70px;
	flex: 0 0 auto;
}

.footer-link{
	color: black;
	text-decoration: none;
	margin: 0px 40px;
	font-size: 25px;
}


/* ndex.html */

.best-block{
	text-align: center;
	padding: 100px;
	margin: 5px;
}

.best-text{
	font-size: 40px;
}

#best-portal-block{
	background-color: red;
}

#best-editor-block{
	background-color: blue;
}

#best-everything-block{
	background-color: pink;
}

/* musicians.html */

.musician-article{
	display: flex;
	flex-wrap: wrap;
	margin: 8px;
}

.musician-card{
	width: 300px;
	height: 500px;
	background-color: #ccddee;
	margin: 5px;
	padding-top: 12px;
	padding-bottom: 10px;
	position: relative;
}

.musician-card-image{
	overflow: hidden;
	width: 275px;
	height: 280px;
	margin: 0 auto;
}

.musician-card-title{
	display: block;
	font-size: 24px;
	margin-top: 3px;
	text-align: center;
}

.musician-card-description{
	display: block;
	text-align: justify;
	font-size: 14px;
	margin: 7px 13px 5px 13px;
}

.musician-card-day-of-life{
	display: block;
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	text-align: center;
}

/* news.html */

.news-card{
	border: 2px solid blue;
	margin: 10px;
	padding: 7px;
	background-color: #ffffbb;
	border-radius: 15px;
}

.news-card-addition-info{
	display: flex;
	color: gray;
	margin-top: 3px;
	margin-bottom: 5px; 
}

.news-card-description{
	margin-top: 5px;
	margin-bottom: 5px; 
}

.news-card-likes{
	color: gray;
	content: '\e82d';
	margin-bottom: 5px; 
}