{% if is_paginated %}
	<nav class="paginator">
		<ul class="paginator-list">
			<!-- url Previous -->
			<li class="paginator-item">
				{% if page_obj.has_previous %}
			        <a href="?page={{ page_obj.previous_page_number }}" class="paginator-link">Previous</a>
			    {% else %}
			        <a href="" class="paginator-link disabled">Previous</a>
			    {% endif %}
			</li>

			<!-- url Previous -->
			{% for page_number in page_obj.paginator.page_range %}

				<!-- if page number equals active page-->
				{% if page_number == page_obj.number %}
					<li class="paginator-item">
						<a href="?page={{ page_number }}" class="paginator-link active">{{ page_number }}</a>
					</li>
				
				<!-- showing 2 previous pages, active page and 2 next pages-->
				{% elif page_number > page_obj.number|add:-3 and page_number < page_obj.number|add:3 %}
					<li class="paginator-item">
						<a href="?page={{ page_number }}" class="paginator-link">{{ page_number }}</a>
					</li>
				{% endif %}

			{% endfor %}

			<!-- url Next -->
			<li class="paginator-item">
				{% if page_obj.has_next %}
			        <a href="?page={{ page_obj.next_page_number }}" class="paginator-link">Next</a>
			    {% else %}
			        <a href="" class="paginator-link disabled">Next</a>
			    {% endif %}
			</li>
		</ul>
	</nav>
{% endif %}