<nav class="paginator">
	<ul class="paginator-list">
		<li class="paginator-item">
			<a href="" class="paginator-link disabled">Previous</a>
		</li>
		<li class="paginator-item">
			<a href="" class="paginator-link">1</a>
		</li>
		<li class="paginator-item">
			<a href="" class="paginator-link">2</a>
		</li>
		<li class="paginator-item">
			<a href="" class="paginator-link">3</a>
		</li>
		<li class="paginator-item">
			<a href="" class="paginator-link">4</a>
		</li>
		<li class="paginator-item">
			<a href="" class="paginator-link">5</a>
		</li>
		<li class="paginator-item">
			<a href="" class="paginator-link">Next</a>
		</li>
	</ul>
</nav>