{% extends "music_portal/base.html" %}

{% block content %}
	<article>
		<div class="form-container">
			<form action="{% url 'musical_instrument_delete_url' slug=musicalinstrument.slug %}" method="post">
				{% csrf_token %}
				<h1>Are you sure you want to delete {{ musicalinstrument.name|title }}?</h1>
				<div class="container-no-yes">
					<a href="{{ musician.get_absolute_url }}" class="btn-cancel">Cancel</a>
					<button type="submit" class="submit-form">Delete</button>
				</div>
			</form>
		</div>
	</article>
{% endblock content %}