{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music portal</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="wrapper">
		<header>
			<nav>
				<section><a href="" class="header-link">Music Portal</a></section>
				<section><a href="musicians.html" class="header-link">Musicians</a></section>
				<section><a href="songs.html" class="header-link">Songs</a></section>
				<section><a href="musical-instruments.html" class="header-link">Musical Instruments</a></section>
				<section><a href="news.html" class="header-link">News</a></section>	
			</nav>
		</header>
		<div class="container">
			{% block content%}
			{% endblock %}
			<aside>
				<div class="news-block">
					<h4>Nothing happen</h4>
					<p>Of course</p>
				</div>
				<div class="poll-block">
					<form>
						<p>Who is the best?</p>
						<p><input type="radio">Bakh</p>
						<p><input type="radio">Swift</p>
						<p><input type="radio">Rammstein</p>
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="ad-block">
					<img src="img/ad.png">
				</div>
			</aside>
		</div>

		<footer>
			<section><a href="index.html" class="footer-link">Music Portal</a></section>
			<section><a href="about-us.html" class="footer-link">About us</a></section>
			<section><a href="contacts.html" class="footer-link">Contacts</a></section>
			<section><a href="user-terms.html" class="footer-link">User terms</a></section>
			<section><a href="privacy-policy.html" class="footer-link">Privacy policy</a></section>	
		</footer>

	</div>
</body>
</html>