{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music portal</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
</head>
<body>
	<script src="{% static 'js/script.js' %}"></script>
	<div class="wrapper">
		<header>
			<nav>
				<section><a href="{% url 'main_page_url' %}" class="nav-link">Music Portal</a></section>
				<section><a href="{% url 'musicians_page_url' %}" class="nav-link">Musicians</a></section>
				<section><a href="{% url 'songs_page_url' %}" class="nav-link">Songs</a></section>
				<section><a href="{% url 'musical_instruments_page_url' %}" class="nav-link">Musical Instruments</a></section>
				<section><a href="{% url 'news_page_url' %}" class="nav-link">News</a></section>	
			</nav>
		</header>
		<div class="container">

			{% block content%}
			{% endblock %}

			<aside>
				<div class="news-block">
					<h4>Nothing happen</h4>
					<p>Of course</p>
				</div>
				<div class="poll-block">
					<form>
						<p>Who is the best?</p>
						<p><input type="radio">Bakh</p>
						<p><input type="radio">Swift</p>
						<p><input type="radio">Rammstein</p>
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="ad-block">
					<img src="{% static 'img/ad.png' %}">
				</div>
			</aside>
		</div>

		<footer>
			<section><a href="{% url 'main_page_url' %}" class="footer-link">Music Portal</a></section>
			<section><a href="{% url 'about_page_url' %}" class="footer-link">About us</a></section>
			<section><a href="{% url 'contacts_url' %}" class="footer-link">Contacts</a></section>
			<section><a href="{% url 'user_terms_page_url' %}" class="footer-link">User terms</a></section>
			<section><a href="{% url 'privacy_page_url' %}" class="footer-link">Privacy policy</a></section>	
		</footer>
	</div>
</body>
</html>