{% extends "music_portal/base.html" %}

{% block content %}
	<article class="contacts-article">
		<div class="info-about-main-editor">
			<h2>Contacts of music portal</h2>
			<h3>Main editor</h3>
			<p>Vasya Pupkin</p>
			<p>	&#128222; +375 (11) 123 45 67</p>
			<a href="mailto:vasyapupkin@pupkin.fr" class="mail-link">&#128231; vasyapupkin@pupkin.fr</a>
		</div>
		<div class="map">
			<span class="map-label">г. Минск, ул. Козлова, 28</span>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6648.48875003687!2d27.593655991819787!3d53.90338892168405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2624ed8c00a9967!2sBSUIR%20Korpus%208!5e0!3m2!1sen!2sby!4v1582446071377!5m2!1sen!2sby" width="500" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
	</article>
{% endblock content %}