{% extends "music_portal/base.html" %}


{% block content %}
	<article>
		<div class="advantages-block" id="best-portal-block">
			<h1><span class="advantages-text">THE BEST MUSIC PORTAL</span></h1>
		</div>
		<div class="advantages-block" id="best-editor-block">
			<h1><span class="advantages-text">THE BEST MUSIC EDITORS</span></h1>
		</div>
		<div class="advantages-block" id="best-everything-block">
			<h1><span class="advantages-text">THE BEST EVERYTHING</span></h1>
		</div>
	</article>
{% endblock content %}