{% extends "music_portal/base.html" %}

{% block content %}
	<article>
		<div class="music-header-detail">
			<div class="music-photo-detail">
				<img src="{{ musician.photo.url }}" width="400" height="350">
			</div>
			<div class="music-main-info-detail">
				<table class="music-table-detail">
					<tr>
						<td class="table-key">First Name</td>
						<td class="table-value">{{ musician.first_name }}</td>
					</tr>
					<tr>
						<td class="table-key">Last Name</td>
						<td class="table-value">{{ musician.last_name }}</td>
					</tr>
					<tr>
						<td class="table-key">Date Of Birth</td>
						<td class="table-value">{{ musician.date_of_birth }}</td>
					</tr>
					<tr>
						<td class="table-key">Date Of Death</td>
						<td class="table-value">
							{% if musician.date_of_death %}
								{{ musician.date_of_death }}
							{% else %}	
								still alive
							{% endif %}
						</td>
					</tr>
					{% if musician.bands.all %}
						<tr>
							<td class="table-key">Bands</td>
							<td class="table-value">
								{% for band in musician.bands.all %}
									{{ band }}
								{% endfor %}
							</td>
						</tr>
					{% endif %}
				</table>
			</div>
		</div>
		<div class="music-description-detail">
			<span>{{ musician.biography }}</span>
		</div>
		<br>
		<h1><p style="text-align: center;">Songs of this human</p></h1>
		<br>
		{% for song in musician.songs.all %}
			{% include "music_portal/includes/song_card.html" %}
		{% endfor %}
	</article>
{% endblock content %}