{% extends "music_portal/base.html" %}
{% load static %}

{% block content %}
	<article class="musician-article">
		{% for musician in musicians %}
			<a href="{{ musician.get_absolute_url }}" class="musician-card">
				<div class="musician-card-image">
					<img src="{{ musician.photo.url }}" width="275" height="280">
				</div>
				<h3><span class="musician-card-title">{{ musician.first_name }} {{ musician.last_name }}</span></h3>
				<span class="musician-card-description">{{ musician.biography|truncatewords:50 }}</span>
				<h5><span class="musician-card-day-of-life">  
					{{ musician.date_of_birth }} - 
					{% if musician.date_of_death %}
						{{ musician.date_of_death }}
					{% else %}	
						the present
				{% endif %} </span></h5>
			</a>
		{% endfor %}
	</article>
{% endblock content %}
