{% extends "music_portal/base.html" %}

{% load static %}

{% block content %}
	<article class="musician-article">
		{% for musical_instrument in musical_instruments %}
			<a href="{{ musical_instrument.get_absolute_url }}" class="musician-card">
				<div class="musician-card-image">
					<img src="{{ musical_instrument.photo.url }}" width="275" height="280">
				</div>
				<h3><span class="musician-card-title">{{ musical_instrument.name }}</span></h3>
				<span class="musician-card-description">{{ musical_instrument.description|truncatewords:50 }}</span>
			</a>
		{% endfor %}
	</article>
{% endblock content %}