{% extends "music_portal/base.html" %}

{% block content %}
	<article>
		<div class="music-header-detail">
			<div class="music-photo-detail">
				<img src="{{ MusicalInstrument.photo.url }}">
			</div>
			<div class="music-main-info-detail">
				<table class="music-table-detail">
					<tr>
						<td class="table-key">Name</td>
						<td class="table-value">{{ MusicalInstrument.name }}</td>
					</tr>
					<tr>
						<td class="table-key">Type</td>
						<td class="table-value">{{ MusicalInstrument.get_type_of_instrument_display }}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="music-description-detail">
			<span>{{ MusicalInstrument.description }}</span>
		</div>
	</article>
{% endblock content %}