<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music portal</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="wrapper">
		<header>
			<nav>
				<section><a href="index.html" class="header-link">Music Portal</a></section>
				<section><a href="musicians.html" class="header-link">Musicians</a></section>
				<section><a href="songs.html" class="header-link">Songs</a></section>
				<section><a href="musical-instruments.html" class="header-link">Musical Instruments</a></section>
				<section><a href="news.html" class="header-link">News</a></section>	
			</nav>
		</header>
		<div class="container">
			<article>
				<div class="news-card">
					<div class="news-card-addition-info">
						<p>Admin</p>
						<p>&nbsp-&nbsp</p>
						<p>January 4, 1963, 11:33pm</p>
					</div>
					<div class="news-card-title">
						<h2><p>How to buy the guitar</p></h2>
					</div>
					<div class="news-card-description">
						<p>I'm the first. I'm the second. I'm the third. I'm the fourth. I'm the fifth. I'm the sixth. I'm the seventh. I'm the eightth. I'm the nineth. I'm the tenth</p>
					</div>
					<div class="news-card-likes">
						<p>&#9757; 43 &#9759; 2 </p>
					</div>
				</div>
				<div class="news-card">
					<div class="news-card-addition-info">
						<p>Admin</p>
						<p>&nbsp-&nbsp</p>
						<p>January 31, 1991, 18:52am</p>
					</div>
					<div class="news-card-title">
						<h2><p>How to buy the guitar</p></h2>
					</div>
					<div class="news-card-description">
						<p>I'm the first. I'm the second. I'm the third. I'm the fourth. I'm the fifth. I'm the sixth.</p>
					</div>
					<div class="news-card-likes">
						<p>&#9757; 43 &#9759; 2 </p>
					</div>
				</div>
				<div class="news-card">
					<div class="news-card-addition-info">
						<p>Admin</p>
						<p>&nbsp-&nbsp</p>
						<p>January 24, 1963, 1:33pm</p>
					</div>
					<div class="news-card-title">
						<h2><p>How to buy the guitar</p></h2>
					</div>
					<div class="news-card-description">
						<p>I'm the first. I'm the second. I'm the third. I'm the fourth. I'm the fifth. I'm the sixth. I'm the seventh. I'm the eightth. I'm the nineth. I'm the tenth</p>
					</div>
					<div class="news-card-likes">
						<p>&#9757; 43 &#9759; 2 </p>
					</div>
				</div>
			</article>
			<aside>
				<div class="news-block">
					<h4>Nothing happen</h4>
					<p>Of course</p>
				</div>
				<div class="poll-block">
					<form>
						<p>Who is the best?</p>
						<p><input type="radio">Bakh</p>
						<p><input type="radio">Swift</p>
						<p><input type="radio">Rammstein</p>
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="ad-block">
					<img src="img/ad.png">
				</div>
			</aside>
		</div>

		<footer>
			<section><a href="index.html" class="footer-link">Music Portal</a></section>
			<section><a href="about-us.html" class="footer-link">About us</a></section>
			<section><a href="contacts.html" class="footer-link">Contacts</a></section>
			<section><a href="user-terms.html" class="footer-link">User terms</a></section>
			<section><a href="privacy-policy.html" class="footer-link">Privacy policy</a></section>	
		</footer>

	</div>
</body>
</html>