{% extends "music_portal/base.html" %}

{% load static %}

{% block content %}
	
	<article>
		{% for post in news %}
			<div class="news-card">
				<div class="news-card-addition-info">
					<p>Admin</p>
					<p>&nbsp-&nbsp</p>
					<p>{{ post.published }}</p>
				</div>
				<div class="news-card-title">
					<h2><p> {{ post.title }}</p></h2>
				</div>
				<div class="news-card-description">
					<p> {{ post.content }}</p>
				</div>
				<div class="news-card-likes">
					<span class="symbol-of-like">&#128077;</span>
					<span class="count-of-likes">{{ post.likes }}</span>  
					<span class="symbol-of-dislike">&#128078;</span> 
					<span class="count-of-dislikes">{{ post.dislikes }} </span>
				</div>
			</div>
		{% endfor %}
	</article>
{% endblock content %}
